
version: "3.9"

services:
  app:
    container_name: rnn_app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=root
      - DB_PASSWORD=12345
      - DB_NAME=humedad_db
    command: ["python","rnn_humedad.py"]

  db:
    container_name: humedad_db
    image: mysql:8.0
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: humedad_db
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
